<!DOCTYPE html>

<html ng-app="test">
    <head>
      <title>SimBoxing</title>
      <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/main.css" rel="stylesheet">
    </head>
    
    <header>
      <div class="navbar navbar-default navbar-static-top">
        <div class="container">
          <a href="index.html" class="navbar-brand">Fantasy Fighting</a>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class='sr-only'>Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li>
              <a href data-toggle="dropdown">About<span class='caret'></span></a>
              <ul class="dropdown-menu">
                <li><a href='#'>Our Story</a></li>
                <li><a href='#'>Contact Us</a></li>
                <li><a href='#'>Blog</a></li>
                <li><a href='#'>Facebook</a></li>
              </ul>
            </li>
            <li><a href="#">Forum</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main>
      <div class="container"  ng-controller="TestController as panel">
        <div class="row well well-lg">
          <div class='col-md-3'>
              <img src="images/boxing-main.jpg" class="img-thumbnail" alt="boxers">
          </div>
           <div class='col-md-8 col-md-offset-1'>

              <game-panels></game-panels>

           </div>
          </div>
        </div>

        <div class="container">
          <div class='row features text-center'>

            <div class='col-md-4'>
              <i class="glyphicon glyphicon-user"></i>
                <try-include></try-include>
            </div>

            <div class='col-md-4'>
              <i class='glyphicon glyphicon-eye-open'></i>
              <div ng-controller="FighterController as account">
                <div ng-repeat="fighter in account.fighters">
                  <h3>
                    {{fighter.name}}
                    <em class="pull-right"><h4>Style: {{fighter.style}}</h4></em>
                  </h3>
                  </div>
                  <form name="fighterForm" ng-controller="EntryController as entryCtrl" ng-submit="fighterForm.$valid && entryCtrl.addFighter()" novalidate>
                    <h3>
                      {{entryCtrl.entry.name}}
                      <em class="pull-right"><h4>Style: {{entryCtrl.entry.style}}</h4></em>
                    </h3>
                    <label>Name:</label>
                    <input type="text" name="name" ng-model="entryCtrl.entry.name" required><br>
                    <label>Style:</label>
                    <select ng-model="entryCtrl.entry.style" required>
                      <option value="1">Sword/Shield</option>
                      <option value="2">Two-handed Sword</option>
                      <option value="3">Dual Wielding</option>
                    </select>

                    <div> fighterForm is {{fighterForm.$valid}} </div>
                    <input type="submit" value="submit"/>
                  </form>
              </div>
            </div>

            <div class='col-md-4'>
              <i class='glyphicon glyphicon-user'></i>
                <try-include></try-include>
              </form>
            </div>
          </div>
        </div>

        <!-- javascript includes -->
        <script src="js/vendor/jquery.js"></script>
        <script src="js/vendor/angular/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/game.js"></script>
    </main>

    <footer>

    </footer>
</html>